<div class="container">
  <ol class="breadcrumb">
    <li class="active">List of Modules</li>
  </ol>
  <div class="row">
    <div class="col-lg-12">
      <div class="well clearfix">
        <div class="row">
          <div class="col-lg-3" *ngFor="let module of modules$ | async">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ module.name }}</h3>
              </div>
              <div class="panel-body">
                Module Lecturer - {{ module.ml }}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>