<!-- Sample Navbar in bootstrap3 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/pblogo.png" class="img-responsive" style="width: 80px;">
      </a>
      <a routerLink="/" routerLinkActive="active"><span class="navbar-brand">PB Attendance System</span></a>
    </div>
    <ul class="nav navbar-nav">

        <a routerLink="/" routerLinkActive="active"><li class="list-group-item">Home</li></a>

      <a routerLink="/groups" routerLinkActive="active"><li class="list-group-item">List Groups</li></a>

      <a routerLink="/gl"><li class="list-group-item">List GL / AGL</li></a>

      <a routerLink="/modules"><li class="list-group-item">List Modules</li></a>

      <a routerLink="/attendances" routerLinkActive="active"><li class="list-group-item">Sample Attendance (view by GL)</li></a>

      <a routerLink="/attendancesLecturerView"><li class="list-group-item">Sample Attendance (view by ML)</li></a>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
